.git*            export-ignore

*.bat.in        -crlf
*.bin           -crlf
*.csproj        -crlf
*.dsp           -crlf
*.gmo           -crlf
*.png           -crlf
*.sh             crlf=input
*.sln           -crlf
*.vcproj        -crlf
capitalize       crlf=input
config.*         crlf=input
configure        crlf=input
fixproto         crlf=input
gccbug.in        crlf=input
genmultilib      crlf=input
makedebugtop     crlf=input
mklibgcc.in      crlf=input
postinst         crlf=input
preinst-swig.in  crlf=input
sort-protos      crlf=input
